@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;;
}

.content {
    position: relative;
}

.content h2 {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
    color:  #03a9f4;
    animation: animate 4s ease-in-out infinite;
}
@keyframes animate {
  0%,100% {
    clip-path: polygon(
      0% 60%,
      5% 40%, 12% 30%, 20% 28%,
      28% 35%, 36% 50%, 44% 68%,
      52% 85%, 60% 92%, 70% 82%,
      82% 65%, 92% 50%, 100% 60%,
      100% 100%, 0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 98%,
      6% 80%, 14% 60%, 22% 45%,
      30% 38%, 38% 42%, 46% 54%,
      54% 48%, 62% 35%, 70% 20%,
      78% 12%, 88% 10%, 100% 15%,
      100% 100%, 0% 100%
    );
  }
}

