* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6464d0;
}

.container {
    width: 20rem;
    height: 25rem;
    position: relative;
    cursor: pointer;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/k/background.avif);
    background-size: cover;
    transform: 1s;
    border-radius: 10px;
    box-shadow: 0 10px 10px;
}

.container:hover .card {
    transform: perspective(20px) rotateX(2deg) translateY(-50px);
}

.bird {
    height: 20rem;
    width: 20rem;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 1s;
    animation: animate 0.2s linear infinite;
    animation-play-state: paused !important;
}

.container:hover .bird {
     animation-play-state: running !important;
    transform: translateY(-200px) translateX(-10px);
}

@keyframes animate {
    from {
        background-image: url(/k/bird1.png);
    }

    to {
        background-image: url(/k/bird2.png);
    }
}