*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #585857f5, #fdfdfaf5 );
}
.container{
   position: relative;
   width: 200px;
   height: 300px;
   transform-style: preserve-3d;
   animation: amimate 20s linear infinite;
}
img{
    height: 300px;
    width: 200px;
   
}
.container:hover{
    animation-play-state: paused;
}
img:hover{
    transform: translateY(-3px);
}
@keyframes amimate {
    0%{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg) rotateX(16deg) ;
    }
    100%{
        transform: perspective(1000px) rotateX(16deg)  rotateY(360deg) rotateX(-16deg);
    }
}
.container span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg )) translateZ(400px);
    -webkit-box-reflect: below 2px linear-gradient(transparent,transparent, rgba(4,4,4,0.267));
}
.container span img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 4px double #000;
}